@font-face {
  font-family: 'MyriadPro-Light';
  src: url('../fonts/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro-Light.otf')  format('opentype'),
  url('../fonts/MyriadPro-Light.woff') format('woff'),
  url('../fonts/MyriadPro-Light.ttf')  format('truetype'),
  url('../fonts/MyriadPro-Light.svg#MyriadPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
