@import "normalize";
@import "fonts";

$page-font: 'MyriadPro-Light';
$page-bg-color: #eeeef0;
$page-width: 100%;
$wrapper-height: 100%;
$color-white: #fff;
$color-blue: #4fa1eb;
$color-grey: #88A3B4;
$color-graphite: #787878;
$color-dark-grey: #4c4c4c;
$header-font-size: 50px;

html {
  height: $wrapper-height;
}

body {
  font-family: $page-font;
  min-width: 320px;
  height: $wrapper-height;
}

.wrapper {
  width: $page-width;
  height: 100vh;
}

.top {
  background-color: $page-bg-color;
  position: fixed;
  height: 30vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
.top.shrink {
  height: 15vh;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.logo {
  max-width: 40%;
  margin: 25px 15px;
  display: inherit;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.top.shrink .logo {
  max-width: 20%;
  margin: 10px 15px 12px 15px;
}
.navbar-toggle {
  position: absolute;
  top: 0;
  right: 0;
  margin: 24px 25px 24px 0;
  padding: 55px 45px;
  border-radius: 0;
  transition: all 0.5s ease 0s;

  .icon-bar {
    background-color: $color-blue;
    width: 70px;
    height: 7px;
    display: block;
    position: absolute;
    left: 10px;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    &:first-child {
      top: 40px;
    }
    &:nth-child(2),&:nth-child(3) {
      top: 55px;
      margin-top: 0;
    }
    &:nth-child(4) {
      top: 70px;
      margin-top: 0;
    }
  }
}
.navbar-toggle.open {
  .icon-bar {
    &:first-child {
      left: 50%;
      top: 53px;
      width: 0%;
    }
    &:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:nth-child(4) {
      left: 50%;
      top: 53px;
      width: 0%;
    }
  }
}
.top.shrink .navbar-toggle {
  margin-top: -10px;
  margin-right: 43px;
  padding: 43px 36px;
  .icon-bar {
    width: 50px;
    height: 5px;
    &:first-child {
      top: 34px;
    }
    &:nth-child(2),&:nth-child(3) {
      top: 44px;
    }
    &:nth-child(4) {
      top: 54px;
    }
  }
}
.menu {
  background-color: $page-bg-color;
  position: fixed;
  width: 100%;
  height: 0%;
  bottom: 0;
  z-index: 1000;
  font-size: 30px;
  overflow: hidden;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  transition: all 0.7s ease;

  ul {
    padding: 130px 0 0 0;
    width: 80%;
    margin: 50px auto;
    list-style: none;
    text-align: center;

    li {
      padding: 20px 50px;
      border-bottom: 1px solid #dddddd;

      &:hover {
        background-color: #d6d6d6;
      }

      &:last-child {
        border: 0;
      }

      a {
        text-decoration: none;
        color: $color-graphite;
        font-family: $page-font;
        display: block;
      }
    }
  }
}
.open {
  bottom: 0;
  height: 100%;
}

.top.shrink .navbar-toggle.open {
  .icon-bar {
    width: 50px;
    &:first-child {
      width: 0;
      top: 42px;
      left: 50%;
    }
    &:nth-child(4) {
      width: 0;
      top: 42px;
      left: 50%;
    }
  }
}

.wrapper.blue-box {
    background-color: $color-blue;
    padding: 200px 0 75px 0;

    .content {
      position: relative;
    }

    .crooked-line {
      width: 2px;
      height: 100%;
      background-color: $color-white;
      display: block;
      position: absolute;
      top: 0;
      left: 25px;
      -webkit-transform: rotate(30deg);
      -moz-transform: rotate(30deg);
      -o-transform: rotate(30deg);
    }
    p {
      color: $color-white;
      padding: 0 0 0 70px;
    }
    h1 {
      color: $color-white;
      font-size: $header-font-size;
      text-align: center;
      line-height: 0.9;
      padding-bottom: 20px;
    }
    .round-button {
      width: 120px;
      height: 120px;
      background-color: transparent;
      border-radius: 50%;
      margin: 0 auto;
      text-align: center;
      line-height: 45px;
      vertical-align: middle;
      border: 4px solid $color-white;
      overflow: hidden;
    }
    .round-button-triangle {
      width: 50px;
      height: 50px;
      margin-top: 25px;
      background-color: transparent;
      display: inline-block;
      text-align: left;
      border-bottom: 4px solid $color-white;
      border-right: 4px solid $color-white;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
.wrapper.box {
  background-image: url(../image/background.png);
  background-size: cover;
  padding-bottom: 20px;
  padding-top: 95px;

  .img-responsive {
    margin: 15px auto 0 auto;
    max-width: 50%;
  }
  h2 {
    color: #787878;
    font-size: $header-font-size;
    margin-top: 0;
    padding-left: 10px;
  }
  p {
    color: #4c4c4c;
    line-height: 1.3;
    padding: 0 10px 0 15px;
  }
  ul {
    color: #50a6ed;
    font-size: 12px;
    padding-left: 15px;
    list-style: none;
  }
}
.wrapper.carousel {
  background-color: #f8f7f5;
  padding: 50px 0;
  .carousel-inner {
    margin: 50% auto;
    max-width: 70%;
  }
  .carousel-control {
    opacity: 1;
    margin: -25px 0;
  }
  .carousel-control.left {
    background-image: none;
    left: 25px;
    .arrow {
      max-width: 50%;
    }
  }
  .carousel-control.right {
    background-image: none;
    .arrow {
      max-width: 50%;
    }
  }
}
.wrapper.white-box {
  color: $color-graphite;
  padding-top: 75px;
  .logo {
    margin-left: 10px;
  }
  .content span {
    background-color: $color-graphite;
    width: 2px;
    height: 190px;
    display: block;
    position: absolute;
    -webkit-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
    -o-transform: rotate(55deg);
    top: 0;
    left: 0;
    margin-top: 70px;
    margin-left: 140px
  }
  h2 {
    font-size: $header-font-size;
    padding: 0 15px 0 0;
    text-align: right;
    margin: 15px 0 25px 60px;
    line-height: 0.9;
  }
  p {
    color: $color-dark-grey;
    font-size: 12px;
  }
}
.wrapper.kontakt {
  background-image: url(../image/background-map.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 75px;

  h2 {
    font-size: 36px;
    padding-right: 30px;
    color: $color-white;
  }
  address {
    color: $color-white;
    margin-bottom: 50px;
    p {
      margin-bottom: 0;
      line-height: 1;
    }
    .phone {
      text-align: center;
      span {
        display: inline-block;
        width: 115px;
        height: 2px;
        margin-left: -20px;
        -webkit-transform: rotate(120deg);
        -moz-transform: rotate(120deg);
        -o-transform: rotate(120deg);
        background-color: $color-white;
      }
      strong {
        font-size: 24px;
        font-weight: 500;
        margin-left: -22px;
      }
    }
  }
  form {
    padding-top: 20px
  }
  .form-control {
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid $color-white;
    color: $color-white;
  }
  .btn {
    border-radius: 0;
    margin-bottom: 30px;
    color: $color-blue;
    padding: 6px 25px;
    float: right;
  }
}
