/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'MyriadPro-Light';
  src: url("../fonts/MyriadPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Light.otf") format("opentype"), url("../fonts/MyriadPro-Light.woff") format("woff"), url("../fonts/MyriadPro-Light.ttf") format("truetype"), url("../fonts/MyriadPro-Light.svg#MyriadPro-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  height: 100%; }

body {
  font-family: "MyriadPro-Light";
  min-width: 320px;
  height: 100%; }

.wrapper {
  width: 100%;
  height: 100vh; }

.top {
  background-color: #eeeef0;
  position: fixed;
  height: 30vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75); }

.top.shrink {
  height: 15vh;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }

.logo {
  max-width: 40%;
  margin: 25px 15px;
  display: inherit;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }

.top.shrink .logo {
  max-width: 20%;
  margin: 10px 15px 12px 15px; }

.navbar-toggle {
  position: absolute;
  top: 0;
  right: 0;
  margin: 24px 25px 24px 0;
  padding: 55px 45px;
  border-radius: 0;
  transition: all 0.5s ease 0s; }
  .navbar-toggle .icon-bar {
    background-color: #4fa1eb;
    width: 70px;
    height: 7px;
    display: block;
    position: absolute;
    left: 10px;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
    .navbar-toggle .icon-bar:first-child {
      top: 40px; }
    .navbar-toggle .icon-bar:nth-child(2), .navbar-toggle .icon-bar:nth-child(3) {
      top: 55px;
      margin-top: 0; }
    .navbar-toggle .icon-bar:nth-child(4) {
      top: 70px;
      margin-top: 0; }

.navbar-toggle.open .icon-bar:first-child {
  left: 50%;
  top: 53px;
  width: 0%; }
.navbar-toggle.open .icon-bar:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }
.navbar-toggle.open .icon-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }
.navbar-toggle.open .icon-bar:nth-child(4) {
  left: 50%;
  top: 53px;
  width: 0%; }

.top.shrink .navbar-toggle {
  margin-top: -10px;
  margin-right: 43px;
  padding: 43px 36px; }
  .top.shrink .navbar-toggle .icon-bar {
    width: 50px;
    height: 5px; }
    .top.shrink .navbar-toggle .icon-bar:first-child {
      top: 34px; }
    .top.shrink .navbar-toggle .icon-bar:nth-child(2), .top.shrink .navbar-toggle .icon-bar:nth-child(3) {
      top: 44px; }
    .top.shrink .navbar-toggle .icon-bar:nth-child(4) {
      top: 54px; }

.menu {
  background-color: #eeeef0;
  position: fixed;
  width: 100%;
  height: 0%;
  bottom: 0;
  z-index: 1000;
  font-size: 30px;
  overflow: hidden;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  transition: all 0.7s ease; }
  .menu ul {
    padding: 130px 0 0 0;
    width: 80%;
    margin: 50px auto;
    list-style: none;
    text-align: center; }
    .menu ul li {
      padding: 20px 50px;
      border-bottom: 1px solid #dddddd; }
      .menu ul li:hover {
        background-color: #d6d6d6; }
      .menu ul li:last-child {
        border: 0; }
      .menu ul li a {
        text-decoration: none;
        color: #787878;
        font-family: "MyriadPro-Light";
        display: block; }

.open {
  bottom: 0;
  height: 100%; }

.top.shrink .navbar-toggle.open .icon-bar {
  width: 50px; }
  .top.shrink .navbar-toggle.open .icon-bar:first-child {
    width: 0;
    top: 42px;
    left: 50%; }
  .top.shrink .navbar-toggle.open .icon-bar:nth-child(4) {
    width: 0;
    top: 42px;
    left: 50%; }

.wrapper.blue-box {
  background-color: #4fa1eb;
  padding: 200px 0 75px 0; }
  .wrapper.blue-box .content {
    position: relative; }
  .wrapper.blue-box .crooked-line {
    width: 2px;
    height: 100%;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 0;
    left: 25px;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg); }
  .wrapper.blue-box p {
    color: #fff;
    padding: 0 0 0 70px; }
  .wrapper.blue-box h1 {
    color: #fff;
    font-size: 50px;
    text-align: center;
    line-height: 0.9;
    padding-bottom: 20px; }
  .wrapper.blue-box .round-button {
    width: 120px;
    height: 120px;
    background-color: transparent;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
    border: 4px solid #fff;
    overflow: hidden; }
  .wrapper.blue-box .round-button-triangle {
    width: 50px;
    height: 50px;
    margin-top: 25px;
    background-color: transparent;
    display: inline-block;
    text-align: left;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg); }
  .wrapper.blue-box a {
    display: block;
    width: 100%;
    height: 100%; }

.wrapper.box {
  background-image: url(../image/background.png);
  background-size: cover;
  padding-bottom: 20px;
  padding-top: 95px; }
  .wrapper.box .img-responsive {
    margin: 15px auto 0 auto;
    max-width: 50%; }
  .wrapper.box h2 {
    color: #787878;
    font-size: 50px;
    margin-top: 0;
    padding-left: 10px; }
  .wrapper.box p {
    color: #4c4c4c;
    line-height: 1.3;
    padding: 0 10px 0 15px; }
  .wrapper.box ul {
    color: #50a6ed;
    font-size: 12px;
    padding-left: 15px;
    list-style: none; }

.wrapper.carousel {
  background-color: #f8f7f5;
  padding: 50px 0; }
  .wrapper.carousel .carousel-inner {
    margin: 50% auto;
    max-width: 70%; }
  .wrapper.carousel .carousel-control {
    opacity: 1;
    margin: -25px 0; }
  .wrapper.carousel .carousel-control.left {
    background-image: none;
    left: 25px; }
    .wrapper.carousel .carousel-control.left .arrow {
      max-width: 50%; }
  .wrapper.carousel .carousel-control.right {
    background-image: none; }
    .wrapper.carousel .carousel-control.right .arrow {
      max-width: 50%; }

.wrapper.white-box {
  color: #787878;
  padding-top: 75px; }
  .wrapper.white-box .logo {
    margin-left: 10px; }
  .wrapper.white-box .content span {
    background-color: #787878;
    width: 2px;
    height: 190px;
    display: block;
    position: absolute;
    -webkit-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
    -o-transform: rotate(55deg);
    top: 0;
    left: 0;
    margin-top: 70px;
    margin-left: 140px; }
  .wrapper.white-box h2 {
    font-size: 50px;
    padding: 0 15px 0 0;
    text-align: right;
    margin: 15px 0 25px 60px;
    line-height: 0.9; }
  .wrapper.white-box p {
    color: #4c4c4c;
    font-size: 12px; }

.wrapper.kontakt {
  background-image: url(../image/background-map.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 75px; }
  .wrapper.kontakt h2 {
    font-size: 36px;
    padding-right: 30px;
    color: #fff; }
  .wrapper.kontakt address {
    color: #fff;
    margin-bottom: 50px; }
    .wrapper.kontakt address p {
      margin-bottom: 0;
      line-height: 1; }
    .wrapper.kontakt address .phone {
      text-align: center; }
      .wrapper.kontakt address .phone span {
        display: inline-block;
        width: 115px;
        height: 2px;
        margin-left: -20px;
        -webkit-transform: rotate(120deg);
        -moz-transform: rotate(120deg);
        -o-transform: rotate(120deg);
        background-color: #fff; }
      .wrapper.kontakt address .phone strong {
        font-size: 24px;
        font-weight: 500;
        margin-left: -22px; }
  .wrapper.kontakt form {
    padding-top: 20px; }
  .wrapper.kontakt .form-control {
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff; }
  .wrapper.kontakt .btn {
    border-radius: 0;
    margin-bottom: 30px;
    color: #4fa1eb;
    padding: 6px 25px;
    float: right; }

/*# sourceMappingURL=style.css.map */
